language: php
php:
  - '7.2'
  - '7.3'
  - '7.4'

services:
  - postgresql

cache:
  directories:
    - $HOME/.composer

before_install:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - composer install

script:
  - ./vendor/bin/phpunit --coverage-text --coverage-clover=clover.xml

after_script:
  - ./cc-test-reporter after-build --coverage-input-type clover --exit-code $TRAVIS_TEST_RESULT

after_success:
  - bash <(curl -s https://codecov.io/bash)
